/* Font Faces */
@font-face {
    font-family: 'Feather';
    src: url('https://codescandy.com/geeks-bootstrap-5/assets/fonts/feather/fonts/feather.ttf?sdxovp') format('truetype'),
         url('https://codescandy.com/geeks-bootstrap-5/assets/fonts/feather/fonts/feather.woff?sdxovp') format('woff'),
         url('https://codescandy.com/geeks-bootstrap-5/assets/fonts/feather/fonts/feather.svg?sdxovp#Feather') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bootstrap-icons';
    src: url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/fonts/bootstrap-icons.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/fonts/bootstrap-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap');

/* Root Variables */
:root {
    --gk-gray-100: #f1f5f9;
    --gk-gray-500: #64748b;
    --gk-gray-600: #475569;
    --gk-gray-800: #1e293b;
    --gk-primary: #754ffe;
    --gk-body-font-family: "Inter", sans-serif;
    --gk-body-font-size: 0.938rem;
    --gk-body-font-weight: 400;
    --gk-body-line-height: 1.6;
    --gk-body-color: #334155;
    --gk-body-bg: #f1f5f9;
    --gk-secondary-color: rgba(51, 65, 85, .75);
    --gk-heading-color: var(--gk-gray-800);
    --gk-link-color-rgb: 117, 79, 254;
    --gk-link-hover-color-rgb: 94, 63, 203;
    --gk-border-width: 1px;
    --gk-border-color: #e2e8f0;
    --gk-border-radius: 0.375rem;
    --gk-border-radius-lg: 0.5rem;
    --gk-border-radius-xxl: 2rem;
    --gk-box-shadow: 0px 3px 6px rgba(17, 24, 39, .1);
    --gk-box-shadow-sm: 0px 1px 3px rgba(17, 24, 39, .09);
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

/* Body Styles */
body {
    background-color: var(--gk-body-bg);
    color: var(--gk-body-color);
    font-family: var(--gk-body-font-family);
    font-size: var(--gk-body-font-size);
    font-weight: var(--gk-body-font-weight);
    line-height: var(--gk-body-line-height);
    margin: 0;
    text-align: var(--gk-body-text-align);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Middle Section Styles */
.middel-section * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    moz-osx-font-smoothing: grayscale;
}

.middel-section .row > * {
    flex-shrink: 0;
    margin-top: var(--gk-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--gk-gutter-x) * .5);
    padding-right: calc(var(--gk-gutter-x) * .5);
    width: 100%;
}

.middel-section .col-12 {
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width: 768px) {
    .middel-section .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

.middel-section .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gk-gutter-x) * -.5);
    margin-right: calc(var(--gk-gutter-x) * -.5);
    margin-top: calc(var(--gk-gutter-y) * -1);
}

.middel-section .fade {
    transition: opacity .15s linear;
}

.middel-section .p-4 {
    padding: 1.5rem !important;
}

.middel-section .bg-light {
    background-color: #f1f5f9 !important;
}

.middel-section .rounded-3 {
    border-radius: var(--gk-border-radius-lg) !important;
}

.middel-section .tab-pane {
    display: none;
}

.middel-section .active {
    display: block;
}

.middel-section [data-bs-theme="dark"] .bg-light {
    background-color: RGBA(15, 23, 42, var(--gk-bg-opacity, 1)) !important;
}

.middel-section :-webkit-scrollbar {
    background: #f1f5f9;
    width: 6px;
}

.middel-section :-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: .5rem;
}

.middel-section .py-8 {
    padding-bottom: 3.5rem !important;
    padding-top: 3.5rem !important;
}

.middel-section .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--gk-gutter-x) * .5);
    padding-right: calc(var(--gk-gutter-x) * .5);
    width: 100%;
}

@media (min-width: 576px) {
    .middel-section .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .middel-section .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .middel-section .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .middel-section .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .middel-section .container {
        max-width: 1320px;
    }
}

.middel-section .justify-content-center {
    justify-content: center !important;
}

@media (min-width: 992px) {
    .middel-section .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
}

.middel-section .text-center {
    text-align: center !important;
}

@media (min-width: 992px) {
    .middel-section .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

.middel-section .d-block {
    display: block !important;
}

.middel-section .mb-3 {
    margin-bottom: 1rem !important;
}

.middel-section .fw-semibold {
    font-weight: 600 !important;
}

.middel-section .text-uppercase {
    text-transform: uppercase !important;
}

.middel-section .text-primary {
    color: #754ffe !important;
}

.middel-section .ls-xl {
    letter-spacing: .2em !important;
}

.middel-section [data-bs-theme="dark"] .text-primary {
    color: #754ffe !important;
}

.middel-section h2 {
    letter-spacing: -.022rem;
    color: var(--gk-heading-color);
    font-family: Inter, sans-serif;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5rem;
    margin-top: 0;
    font-size: calc(1.275rem + .3vw);
}

@media (min-width: 1200px) {
    .middel-section h2 {
        font-size: 1.5rem;
    }
}

.middel-section .display-4 {
    letter-spacing: -.05rem;
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 600;
    line-height: 1.2;
}

@media (min-width: 1200px) {
    .middel-section .display-4 {
        font-size: 2.5rem;
    }
}

.middel-section .mb-2 {
    margin-bottom: .5rem !important;
}

.middel-section .fw-bold {
    font-weight: 700 !important;
}

.middel-section p {
    margin-bottom: 1rem;
    margin-top: 0;
}

.middel-section .lead {
    letter-spacing: -.03rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.middel-section .card {
    color: var(--gk-body-color);
    display: flex;
    flex-direction: column;
    height: var(--gk-card-height);
    min-width: 0;
    position: relative;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--gk-card-bg);
    border: var(--gk-card-border-width) solid var(--gk-card-border-color);
    border-radius: var(--gk-card-border-radius);
    box-shadow: 0 1px 3px rgba(17, 24, 39, .09);
}

.middel-section .card-body {
    color: var(--gk-card-color);
    flex: 1 1 auto;
    padding: var(--gk-card-spacer-y) var(--gk-card-spacer-x);
}

.middel-section .p-6 {
    padding: 2.5rem !important;
}

@media (min-width: 768px) {
    .middel-section .d-md-flex {
        display: flex !important;
    }
}

.middel-section .fs-4 {
    font-size: 1rem !important;
}

.middel-section a {
    color: rgba(var(--gk-link-color-rgb), var(--gk-link-opacity, 1));
    text-decoration: none;
}

.middel-section .btn-link {
    color: var(--gk-link-color);
    font-weight: 600;
    text-decoration: underline;
}

.middel-section a:hover {
    color: rgba(var(--gk-link-hover-color-rgb), var(--gk-link-opacity, 1));
}

.middel-section .btn-link:hover {
    color: var(--gk-btn-hover-color);
    text-decoration: underline;
}

@media (min-width: 768px) {
    .middel-section .mb-md-0 {
        margin-bottom: 0 !important;
    }

    .middel-section .ms-md-4 {
        margin-left: 1.5rem !important;
    }
}

.middel-section .fe {
    font-family: 'Feather' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    moz-osx-font-smoothing: grayscale;
}

.middel-section img {
    vertical-align: middle;
}

.middel-section .icon-xxl {
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
}

.middel-section .icon-shape {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.middel-section .bg-primary {
    background-color: #754ffe !important;
}

.middel-section .rounded-circle {
    border-radius: 50% !important;
}

.middel-section [data-bs-theme="dark"] .bg-primary {
    background-color: RGBA(117, 79, 254, var(--gk-bg-opacity, 1)) !important;
}

.middel-section .mb-1 {
    margin-bottom: .25rem !important;
}

.middel-section .mb-0 {
    margin-bottom: 0 !important;
}

.middel-section .fs-6 {
    font-size: .75rem !important;
}

.middel-section .badge {
    border-radius: var(--gk-badge-border-radius);
    color: var(--gk-badge-color);
    display: inline-block;
    font-size: var(--gk-badge-font-size);
    font-weight: var(--gk-badge-font-weight);
    line-height: 1;
    padding: var(--gk-badge-padding-y) var(--gk-badge-padding-x);
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.middel-section .ms-2 {
    margin-left: .5rem !important;
}

.middel-section .bg-warning {
    background-color: #f59e0b !important;
}

.middel-section [data-bs-theme="dark"] .bg-warning {
    background-color: RGBA(245, 158, 11, var(--gk-bg-opacity, 1)) !important;
}

.middel-section .text-dark {
    color: #0f172a !important;
}

.middel-section [data-bs-theme="dark"] .text-dark {
    color: #fff !important;
}

.middel-section .ms-3 {
    margin-left: 1rem !important;
}

/* Modal Styles */
.modal-custom * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    moz-osx-font-smoothing: grayscale;
}

.modal-custom .row > * {
    flex-shrink: 0;
    margin-top: var(--gk-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--gk-gutter-x) * .5);
    padding-right: calc(var(--gk-gutter-x) * .5);
    width: 100%;
}

.modal-custom .modal-content {
    background-clip: padding-box;
    background-color: var(--gk-modal-bg);
    border: var(--gk-modal-border-width) solid var(--gk-modal-border-color);
    border-radius: var(--gk-modal-border-radius);
    color: var(--gk-modal-color);
    display: flex;
    flex-direction: column;
    outline: 0;
    pointer-events: auto;
    position: relative;
    width: 100%;
}

.modal-custom .modal-dialog {
    margin: var(--gk-modal-margin);
    pointer-events: none;
    position: relative;
    width: auto;
}

.modal-custom .modal-dialog-centered {
    align-items: center;
    display: flex;
    min-height: calc(100% - var(--gk-modal-margin) * 2);
}

@media (min-width: 576px) {
    .modal-custom .modal-dialog {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--gk-modal-width);
    }
}

@media (min-width: 992px) {
    .modal-custom .modal-lg {
        --gk-modal-width: 800px;
    }
}

.modal-custom .modal.fade .modal-dialog {
    transform: translateY(-50px);
    transition: transform .3s ease-out;
}

.modal-custom .modal.show .modal-dialog {
    transform: none;
}

.modal-custom .modal {
    display: none;
    height: 100%;
    left: 0;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--gk-modal-zindex);
}

@media (min-width: 576px) {
    .modal-custom .modal {
        --gk-modal-margin: 1.75rem;
        --gk-modal-box-shadow: var(--gk-box-shadow);
    }
}

.modal-custom .modal-body {
    flex: 1 1 auto;
    padding: var(--gk-modal-padding);
    position: relative;
}

.modal-custom .modal-header {
    align-items: center;
    border-bottom: var(--gk-modal-header-border-width) solid var(--gk-modal-header-border-color);
    border-top-left-radius: var(--gk-modal-inner-border-radius);
    border-top-right-radius: var(--gk-modal-inner-border-radius);
    display: flex;
    flex-shrink: 0;
    padding: var(--gk-modal-header-padding);
}

.modal-custom .btn-close {
    background: transparent var(--gk-btn-close-bg) center/.75rem auto no-repeat;
    border: 0;
    border-radius: .375rem;
    box-sizing: content-box;
    height: .75rem;
    opacity: var(--gk-btn-close-opacity);
    padding: .25em;
    width: .75rem;
}

.modal-custom .btn-close:hover {
    opacity: var(--gk-btn-close-hover-opacity);
    text-decoration: none !important;
    list-style: none !important;
}

.modal-custom h3 {
    letter-spacing: -.022rem;
    color: var(--gk-heading-color);
    font-family: Inter, sans-serif;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5rem;
    margin-top: 0;
    font-size: 1.25rem;
}

.modal-custom p {
    margin-bottom: 1rem;
    margin-top: 0;
}

.modal-custom .list-group {
    border-radius: var(--gk-list-group-border-radius);
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
}

.modal-custom .list-group-flush {
    border-radius: 0;
}

.modal-custom .list-group-item {
    background-color: var(--gk-list-group-bg);
    border: var(--gk-list-group-border-width) solid var(--gk-list-group-border-color);
    color: var(--gk-list-group-color);
    display: block;
    padding: var(--gk-list-group-item-padding-y) var(--gk-list-group-item-padding-x);
    position: relative;
}

.modal-custom .list-group-flush > .list-group-item {
    border-width: 0 0 var(--gk-list-group-border-width);
}

.modal-custom .list-group-item + .list-group-item {
    border-top-width: 0;
}

.modal-custom .list-group-flush > .list-group-item:last-child {
    border-bottom-width: 0;
}

.modal-custom .icon-xxl {
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
}

.modal-custom .icon-shape {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.modal-custom svg {
    vertical-align: middle;
    touch-action: none;
}

.modal-custom .bi:before,
.modal-custom [class*=" bi-"]::before,
.modal-custom [class^="bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    moz-osx-font-smoothing: grayscale;
}

.modal-custom .bi-play-fill:before {
    content: "\f4f4";
}